
<p class="notice"><%= notice %></p><br>


<P>title:<%= @book.title %></P>
 <br>

 <p>body:<%= @book.body %></p>

 <br>


   <%= link_to "Edit",edit_book_path(@book) %>


   <%= link_to "Back",books_path %>
